<div>
<div class="section-heading">Contact Us</div>
<div class="contact-container">
    <div class="contact-content">
        <div class="content">Let us tailor a service package that meets your needs. Tell us a little about your business, and we will get back to you with some ideas as soon as possible.</div>
        <div class="heading">IT Solutions</div>
        <div class="sub-heading">Hours</div>
        <div>
            <div  class="content outlineBtn" >Opens today 9:00am - 5:00pm <span class="dropdown">></span></div>
            <!-- <div >
                <div class="content"  style="cursor: pointer;">Mon  9:00am - 5:00pm</div>
                <div class="content">Tues  9:00am - 5:00pm</div>
                <div class="content">Wed  9:00am - 5:00pm</div>
                <div class="content">Thur  9:00am - 5:00pm</div>
                <div class="content">Fri  9:00am - 5:00pm</div>
                <div class="content">Sat  Closed</div>
                <div class="content">Sun  Closed</div>
            </div> -->
        </div>
        <div class="content">Monday - Friday: 9am - 5pm</div>
        <div class="content">Saturday - Sunday: Closed</div>
        <div>
            <button class="button">For Questions or Quotes</button>
        </div>
    </div>
    <div class="contact-img">
        <img class="image" src="../../assets/contactimage.png">
    </div>
</div>

<div class="contact-container2">
    <div class="sub-section">
        <div class="header-section">
            <img class="icon" src="../../assets/location_icon.png">
            <div class="heading">Address</div>
        </div>
        <div class="content">11481 Dublin Rd, Glen Allen VA-23060</div>
    </div>
    <div class="sub-section">
        <div class="header-section">
            <img class="icon" src="../../assets/phone_icon.png">
            <div class="heading">Phone</div>
        </div>
        <div class="content">+1 804-502-4077</div>
    </div>
    <div class="sub-section">
        <div class="header-section">
            <img class="icon" src="../../assets/email_icon.png">
            <div class="heading">Email</div>
        </div>
        <div class="content">accounts@savitechus.com</div>
    </div>
</div>

<div class="copyright">Copyright © 2022 IT Solutions - All Rights Reserved.</div>
</div>
