<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <img src="/orangestack/src/assets/savitech.png" alt="image"> -->

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            SAVI TECH
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a routerLink="/Home" >Home</a>
          <a routerLink="/Services">Services</a>
          <a routerLink="/Clients">Clients</a>
          <button routerLink="/Contact us" class="Contactusborder">Contact Us</button>
        </div>
      </div>
</body>
</html>
