* {
    box-sizing: border-box;
}
img
{
  width: 50px;
  height: 50px;
}
  .nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 15px 10px -15px #111;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 65px;
  }
  .check
  {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
  }
  .nav > .nav-header {
    display: inline;
  }
  div  > * {
    vertical-align:middle; 
}
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    padding: 0px 0px 0px 10px;
    /* margin-bottom: 0px !important; */
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 0px 30px 0px 10px;
    text-decoration: none;
    color: #000000;
  }
  .nav > .nav-links > .Contactusborder
  {
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #EE6D24;
    border-radius: 20px;
  }
  .nav > .nav-links > a:hover {
      /* font-weight: bolder; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: grey;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:700px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 20px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(113, 103, 103, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid rgb(0, 0, 0);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:rgb(152, 152, 152);
      opacity: 0.9;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      padding: 20px;
    }
    .nav > .nav-links
    {
        padding-left: 8%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 440px);
      overflow-y: auto;
    }
  }