.section1-maincontainer
{
    /* height: 1000px; */
    background-image: url("../../assets/mainbgimage.png");
    background-color: rgb(47, 49, 49);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section1-textdiv
{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    place-items: center;
    color: white;
}
.section1-header
{
    padding-top: 100px;
    font-size: 74px;
    font-weight: 500;
}
hr
{
    width: 20%;
}
.section1-paragraph
{
    text-align: center;
    width: 35%;
    padding-top: 20px;
    font-size: 17px;
    line-height: 30px;
    /* font-weight: 500; */
}
.section1-buttondiv
{
    padding-top: 40px;
    padding-bottom: 100px;
}
.section1-button
{
    cursor: pointer;
    background-color: #EE6D24;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    
}
