.section1-maincontainer
{
    /* height: 1000px; */
    background-image: url("/orangestack/src/assets/aboutimg.png");
    background-color: rgb(47, 49, 49);

}
.section1-textdiv
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    place-items: center;
    color: white;
}
.section1-header
{
    padding-top: 5%;
    font-size: 74px;
    font-weight: 500;
}
hr
{
    width: 20%;
}
.section1-paragraph
{
    text-align: center;
    width: 40%;
    padding-top: 1%;
    font-size: 18px;
    line-height: 30px;
    /* font-weight: 500; */
}
.section1-buttondiv
{
    padding-top: 2%;
    padding-bottom: 5%;
}
.section1-button
{
    cursor: pointer;
    background-color: #EE6D24;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}
