<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="section1-maincontainer"> 
        <div class="section1-textdiv">
            <div class="section1-header">
                SAVI TECH SOLUTIONS
                <hr>
            </div>
           
            <div class="section1-paragraph">
                Our team incorporates a comprehensive perspective into the practical solutions we design for our clients.
            </div>
            <div class="section1-buttondiv">
                <button class="section1-button" routerLink="/Contact us">Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>