<app-section1></app-section1>
<div class="about-container">
    <div class="about-img">
        <img class="image" src="../../assets/aboutimg.png">
    </div>
    <div class="about-content">
        <div class="heading">About Savi Tech Solutions..</div>
        <div class="content">SaviTech Solutions is a leading global consulting and IT services provider with competencies in Business Solutions, Staffing and Training.</div>
        <div class="content">SaviTech has provided value-added IT consulting and business solutions  through out the world.  </div>
        <div class="content">SaviTech has achieved a global competence having both business and technical edge.</div>
        <div>
            <button class="button">Find out More</button>
        </div>
    </div>
</div>

<app-section3></app-section3>

<div class="section-heading">Contact Us</div>
<div class="contact-container">
    <div *ngIf="forQuestion" class="contact-content">
        <div class="content">Let us tailor a service package that meets your needs. Tell us a little about your business, and we will get back to you with some ideas as soon as possible.</div>
        <div class="heading">IT Solutions</div>
        <div class="sub-heading">Hours</div>
        <div>
            <div *ngIf="selector" (click)="onSelect()"  class="content" style="cursor: pointer;display: flex;align-items: center;">Opens today 9:00am - 5:00pm 
                <img style="height: 20px; width: 20px;margin-left: 10px;" src="../../assets/down-arrow.png"> </div>
            <div *ngIf=" !selector" (click)="onSelect()">
                <div class="content"  style="cursor: pointer;display: flex;align-items: center;">Mon  9:00am - 5:00pm 
                    <img style="height: 15px; width: 15px;margin-left: 10px;" src="../../assets/up_arrow.png"> </div>
                <div class="content">Tues  9:00am - 5:00pm</div>
                <div class="content">Wed  9:00am - 5:00pm</div>
                <div class="content">Thur  9:00am - 5:00pm</div>
                <div class="content">Fri  9:00am - 5:00pm</div>
                <div class="content">Sat  Closed</div>
                <div class="content">Sun  Closed</div>
            </div>
        </div>
        <div class="content">Monday - Friday: 9am - 5pm</div>
        <div class="content">Saturday - Sunday: Closed</div>
        <div>
            <button class="button" (click)="forQuestionOrQuotes()">For Questions or Quotes</button>
        </div>
    </div>
        <!-- form code -->
    <div *ngIf="!forQuestion" class="form-container contact-content">
    <div class="heading">For Questions and Quotes</div>
    <form [formGroup] = "queriesForm">
        <div class="form-fields">
            <label class="form-lables">Name*</label>
            <input class="input-fields" placeholder="Enter Username" formControlName="userName" type="text">
        </div>
        <div class="form-fields">
            <label class="form-lables">Email*</label>
            <input class="input-fields" placeholder="Enter Email" formControlName="email" type="email">
        </div>
        <div class="form-fields">
            <label class="form-lables">Message</label>
            <textarea class="input-fields" placeholder="Message" formControlName="message" type="text"> </textarea>
        </div>
        <button class="button" type="submit">Send</button>
        <button class="outlineButton" (click)="forQuestionOrQuotes()" >Cancel</button>
    </form>
</div>

    <div class="contact-img">
        <img class="image" src="../../assets/contactimage.png">
    </div>
</div>


<div class="copyright">Copyright © 2022 IT Solutions - All Rights Reserved.</div>
