<div class="about-container">
    <div class="about-img">
        <img class="image" src="../../assets/aboutimg.png">
    </div>
    <div class="about-content">
        <div class="heading">About Savi Tech Solutions..</div>
        <div class="content">SaviTech Solutions is a leading global consulting and IT services provider with competencies in Business Solutions, Staffing and Training.</div>
        <div class="content">SaviTech has provided value-added IT consulting and business solutions  through out the world.  </div>
        <div class="content">SaviTech has achieved a global competence having both business and technical edge.</div>
        <div>
            <button class="button">Find out More</button>
        </div>
    </div>
</div>

<div class="section-heading">Contact Us</div>
<div class="contact-container">
    <div class="contact-content">
        <div class="content">Let us tailor a service package that meets your needs. Tell us a little about your business, and we will get back to you with some ideas as soon as possible.</div>
        <div class="heading">IT Solutions</div>
        <div class="sub-heading">Hours</div>
        <div>
            <div  class="content" style="cursor: pointer;">Opens today 9:00am - 5:00pm <span class="dropdown">></span></div>
            <!-- <div >
                <div class="content"  style="cursor: pointer;">Mon  9:00am - 5:00pm</div>
                <div class="content">Tues  9:00am - 5:00pm</div>
                <div class="content">Wed  9:00am - 5:00pm</div>
                <div class="content">Thur  9:00am - 5:00pm</div>
                <div class="content">Fri  9:00am - 5:00pm</div>
                <div class="content">Sat  Closed</div>
                <div class="content">Sun  Closed</div>
            </div> -->
        </div>
        <div class="content">Monday - Friday: 9am - 5pm</div>
        <div class="content">Saturday - Sunday: Closed</div>
        <div>
            <button class="button">For Questions or Quotes</button>
        </div>
    </div>
    <div class="contact-img">
        <img class="image" src="../../assets/contactimage.png">
    </div>
</div>
